h2{
    width: 200px;
    border: 5px solid;
    border-radius: 20px;
    border-color: brown;
    padding: 10px;
    text-align: center;
}
h3{
    width: 150px;
    border: 5px solid;
    border-radius: 30%;
    text-align: center;
}