*{
    color: greenyellow;
}
/*
h1{
    font-family: 'Courier New', Courier, monospace;
    color: #0000ff;
    font-size: 28px;
    text-align: center;
}
h2{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: brown;
}
ul{
    list-style-type: none;
}
li{
    color: red;
    font-style: italic;
    text-align: center;
}
p{
    color:#8a2be2;
}
*/
p{
    color: green;
}
h1{
    color: blue;
}